[package]
name = "tbm"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
crossterm = "0.20"
tui = { version = "0.16", default-features = false, features = ['crossterm'] }
clap = { version = "3.0.7", features = ["derive"] }
oxidebpf = "0.1.0"
